In [13]:
import pandas as pd
import numpy as np

## part 1

In [50]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day1_demo.txt"
df = pd.read_csv(url, sep=",", names=['depth'])

### demo data

In [52]:
df

   depth
0    199
1    200
2    208
3    210
4    200
5    207
6    240
7    269
8    260
9    263

In [53]:
df['previous_depth'] = df.shift(1)

In [54]:
df.query("(depth - previous_depth) > 0").count()[0]

7

### puzzle data

In [91]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day1.txt"
puzzle_df = pd.read_csv(url, sep=",", names=['depth'])
puzzle_df['previous_depth'] = puzzle_df.shift(1)
puzzle_df.query("(depth - previous_depth) > 0").count()[0]

1154

## part 2

In [84]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day1_demo.txt"
df = pd.read_csv(url, sep=",", names=['depth'])
df

   depth
0    199
1    200
2    208
3    210
4    200
5    207
6    240
7    269
8    260
9    263

In [85]:
df['windowsum3'] = df.rolling(3).sum()

In [86]:
df['windowsum3_lag1'] = df['windowsum3'].shift(1)

In [87]:
df

   depth  windowsum3  windowsum3_lag1
0    199         NaN              NaN
1    200         NaN              NaN
2    208       607.0              NaN
3    210       618.0            607.0
4    200       618.0            618.0
5    207       617.0            618.0
6    240       647.0            617.0
7    269       716.0            647.0
8    260       769.0            716.0
9    263       792.0            769.0

In [90]:
df.query("(windowsum3 - windowsum3_lag1) > 0").count()[0]

5

### puzzle data part 2

In [92]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day1.txt"
puzzle_df = pd.read_csv(url, sep=",", names=['depth'])

In [93]:
puzzle_df['windowsum3'] = puzzle_df.rolling(3).sum()
puzzle_df['windowsum3_lag1'] = puzzle_df['windowsum3'].shift(1)
puzzle_df.query("(windowsum3 - windowsum3_lag1) > 0").count()[0]

1127