In [1]:
import pandas as pd
import numpy as np

## part 1

In [2]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day2_demo.txt"
df = pd.read_csv(url, sep=",", names=['course_command'])

### demo data

In [3]:
df = df['course_command'].str.split(' ', expand=True)
df.columns = ['action_type', 'action_amount']
df['action_amount'] = pd.to_numeric(df['action_amount'])
df

  action_type  action_amount
0     forward              5
1        down              5
2     forward              8
3          up              3
4        down              8
5     forward              2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   action_type    6 non-null      object
 1   action_amount  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [5]:
submarine_position = {'horizontal':0, 'depth':0}
for step in np.arange(0, df.shape[0], 1):
    if df['action_type'].iloc[step] == 'forward':
        submarine_position['horizontal']+= df['action_amount'].iloc[step]
    elif df['action_type'].iloc[step] == 'down':
        submarine_position['depth']+= df['action_amount'].iloc[step]
    elif df['action_type'].iloc[step] == 'up':
        submarine_position['depth']-= df['action_amount'].iloc[step]

submarine_position

{'horizontal': 15, 'depth': 10}

In [6]:
submarine_position['horizontal'] * submarine_position['depth']

150

### puzzle data

In [7]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day2.txt"
puzzle_df = pd.read_csv(url, sep=",", names=['course_command'])

In [8]:
puzzle_df = puzzle_df['course_command'].str.split(' ', expand=True)
puzzle_df.columns = ['action_type', 'action_amount']
puzzle_df['action_amount'] = pd.to_numeric(puzzle_df['action_amount'])

In [9]:
puzzle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   action_type    1000 non-null   object
 1   action_amount  1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [10]:
submarine_position = {'horizontal':0, 'depth':0}
for step in np.arange(0, puzzle_df.shape[0], 1):
    if puzzle_df['action_type'].iloc[step] == 'forward':
        submarine_position['horizontal']+= puzzle_df['action_amount'].iloc[step]
    elif puzzle_df['action_type'].iloc[step] == 'down':
        submarine_position['depth']+= puzzle_df['action_amount'].iloc[step]
    elif puzzle_df['action_type'].iloc[step] == 'up':
        submarine_position['depth']-= puzzle_df['action_amount'].iloc[step]

submarine_position

{'horizontal': 1988, 'depth': 913}

In [11]:
submarine_position['horizontal'] * submarine_position['depth']

1815044

## part 2

In [12]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day2_demo.txt"
df = pd.read_csv(url, sep=",", names=['course_command'])

In [13]:
df = df['course_command'].str.split(' ', expand=True)
df.columns = ['action_type', 'action_amount']
df['action_amount'] = pd.to_numeric(df['action_amount'])
df

  action_type  action_amount
0     forward              5
1        down              5
2     forward              8
3          up              3
4        down              8
5     forward              2

In [14]:
submarine_position = {'horizontal':0, 'depth':0, 'aim':0}

for step in np.arange(0, df.shape[0], 1):
    if df['action_type'].iloc[step] == 'forward':
        submarine_position['horizontal']+= df['action_amount'].iloc[step]
        submarine_position['depth']+= (df['action_amount'].iloc[step] * submarine_position['aim'])
        
    elif df['action_type'].iloc[step] == 'down':
        submarine_position['aim']+= df['action_amount'].iloc[step]
        
    elif df['action_type'].iloc[step] == 'up':
        submarine_position['aim']-= df['action_amount'].iloc[step]

submarine_position

{'horizontal': 15, 'depth': 60, 'aim': 10}

In [15]:
submarine_position['horizontal'] * submarine_position['depth']

900

### puzzle data part 2

In [16]:
url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day2.txt"
puzzle_df = pd.read_csv(url, sep=",", names=['course_command'])

In [17]:
puzzle_df = puzzle_df['course_command'].str.split(' ', expand=True)
puzzle_df.columns = ['action_type', 'action_amount']
puzzle_df['action_amount'] = pd.to_numeric(puzzle_df['action_amount'])

In [18]:
submarine_position = {'horizontal':0, 'depth':0, 'aim':0}

for step in np.arange(0, puzzle_df.shape[0], 1):
    if puzzle_df['action_type'].iloc[step] == 'forward':
        submarine_position['horizontal']+= puzzle_df['action_amount'].iloc[step]
        submarine_position['depth']+= (puzzle_df['action_amount'].iloc[step] * submarine_position['aim'])
        
    elif puzzle_df['action_type'].iloc[step] == 'down':
        submarine_position['aim']+= puzzle_df['action_amount'].iloc[step]
        
    elif puzzle_df['action_type'].iloc[step] == 'up':
        submarine_position['aim']-= puzzle_df['action_amount'].iloc[step]

submarine_position

{'horizontal': 1988, 'depth': 874891, 'aim': 913}

In [19]:
submarine_position['horizontal'] * submarine_position['depth']

1739283308