In [1]:
import pandas as pd
import numpy as np

## part 1

In [2]:
##url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day3_demo.txt"

url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day3.txt"

df = pd.read_csv(url, sep=",", names=['binary_bits'],dtype = str)

In [3]:
gamma = df['binary_bits'].apply(lambda x:pd.Series(list(x))).mode().values.flatten().tolist()
gamma

['1', '1', '1', '0', '1', '1', '1', '1', '0', '0', '1', '1']

In [4]:
gamma = ''.join(gamma).encode('ascii')

In [5]:
gamma

b'111011110011'

In [6]:
gamma = int(gamma,2)
gamma

3827

In [7]:
eps = df['binary_bits'].apply(lambda x:pd.Series(list(x)))
eps

    0  1  2  3  4  5  6  7  8  9  10 11
0    1  1  1  0  1  1  0  0  1  0  1  0
1    0  1  0  0  1  1  1  0  1  1  1  0
2    1  1  0  0  0  1  0  0  1  0  1  0
3    0  0  1  1  0  1  0  1  1  1  0  1
4    1  1  0  1  0  0  0  0  0  0  1  1
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  1  0  0  0  0  1  0  1  1  1  1  1
996  0  1  0  0  0  0  1  1  1  1  0  1
997  1  0  0  0  1  1  1  0  0  0  0  1
998  1  0  1  1  0  0  0  1  1  0  1  0
999  1  0  0  1  1  0  1  0  0  0  0  0

[1000 rows x 12 columns]

In [8]:
eps = eps.apply(lambda x:x.value_counts().index[-1],axis=0).values.flatten().tolist()
eps

['0', '0', '0', '1', '0', '0', '0', '0', '1', '1', '0', '0']

In [9]:
eps = ''.join(eps).encode('ascii')
eps

b'000100001100'

In [10]:
eps = int(eps,2)
eps

268

In [11]:
gamma * eps

1025636

## part 2

In [12]:
##url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day3_demo.txt"

url = "https://raw.githubusercontent.com/jessimk/adventofcode_2021/main/data/day3.txt"

df = pd.read_csv(url, sep=",", names=['binary_bits'],dtype = str)
df.head()

    binary_bits
0  111011001010
1  010011101110
2  110001001010
3  001101011101
4  110100000011

In [13]:
ogr = df['binary_bits'].apply(lambda x:pd.Series(list(x)))
ogr.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  1  1  0  1  1  0  0  1  0  1  0
1  0  1  0  0  1  1  1  0  1  1  1  0
2  1  1  0  0  0  1  0  0  1  0  1  0
3  0  0  1  1  0  1  0  1  1  1  0  1
4  1  1  0  1  0  0  0  0  0  0  1  1

In [14]:
for bit in np.arange(0,ogr.shape[1],1):
    
    if ogr.shape[0] == 1:
        break

    elif ogr[bit].value_counts()[0] > ogr[bit].value_counts()[1]:
        higher_value = ogr[bit].value_counts().index[0]
        ogr = ogr.query('@ogr[@bit].str.startswith(@higher_value)')

    elif ogr[bit].value_counts()[0] == ogr[bit].value_counts()[1]:
        ogr = ogr.query('@ogr[@bit].str.startswith("1")')

    else:
        higher_value = ogr[bit].value_counts().index[1]
        ogr = ogr.query('@ogr[@bit].str.startswith(@higher_value)')

ogr

    0  1  2  3  4  5  6  7  8  9  10 11
307  1  1  0  0  0  0  0  1  0  0  0  1

In [15]:
ogr = ogr.values.flatten().tolist()
ogr

['1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '1']

In [16]:
ogr = ''.join(ogr).encode('ascii')
ogr

b'110000010001'

In [17]:
ogr = int(ogr,2)
ogr

3089

In [18]:
co2sr = df['binary_bits'].apply(lambda x:pd.Series(list(x)))
co2sr.head()

  0  1  2  3  4  5  6  7  8  9  10 11
0  1  1  1  0  1  1  0  0  1  0  1  0
1  0  1  0  0  1  1  1  0  1  1  1  0
2  1  1  0  0  0  1  0  0  1  0  1  0
3  0  0  1  1  0  1  0  1  1  1  0  1
4  1  1  0  1  0  0  0  0  0  0  1  1

In [19]:
for bit in np.arange(0,co2sr.shape[1],1):
        
    if co2sr.shape[0] == 1:
        break

    elif co2sr[bit].value_counts()[0] > co2sr[bit].value_counts()[1]:
        lower_value = co2sr[bit].value_counts().index[1]
        co2sr = co2sr.query('@co2sr[@bit].str.startswith(@lower_value)')

    elif co2sr[bit].value_counts()[0] == co2sr[bit].value_counts()[1]:
        co2sr = co2sr.query('@co2sr[@bit].str.startswith("0")')

    else:
        lower_value = co2sr[bit].value_counts().index[0]
        co2sr = co2sr.query('@co2sr[@bit].str.startswith(@lower_value)')
    

        
co2sr

    0  1  2  3  4  5  6  7  8  9  10 11
625  0  0  0  1  0  0  0  0  0  0  0  1

In [20]:
co2sr = co2sr.values.flatten().tolist()
co2sr

['0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '1']

In [21]:
co2sr = ''.join(co2sr).encode('ascii')
co2sr

b'000100000001'

In [22]:
co2sr = int(co2sr,2)
co2sr

257

In [23]:
ogr * co2sr

793873